html,
body {
  height: 100%
}

.App {
  background-color: #282c34;
  text-align: center;
  color: white;
}

.App-body {
  min-height: 100vh;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.score {
  text-align: right;
}

.kanjiPrompt {
  font-size: xx-large;
}

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  /* box-sizing: border-box; */

  background-color: inherit;
  color: white;
  text-align: center;

  border: none;
  outline: 0 none;
  outline-color: currentColor;
  outline-style: none;
  outline-width: 0px;
}

.correct {
  background-color: #65a25d !important;
}

.wrong {
  background-color: #b91a1a !important;
}
