html,
body {
  height: 100%;
}

.App {
  background-color: #282c34;
  text-align: center;
  color: white;
}

.App-body {
  min-height: 100vh;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.hamburger-menu {
  text-align: left;
}

.select-title {
  font-size: xx-large;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}

button.btn-primary.select-mode-button {
  height: 5rem;
  background-color: #282c34;
}

button.btn-primary.select-mode-button-checked {
  height: 5rem;
  background-color: #282c34;
  border-color: #0d6efd;
}

.score {
  text-align: right;
  font-size: x-large;
}

.total-reviews {
  background-color: #7283e3;
}

.kanjiPrompt {
  font-size: 6rem;
  font-family: "Hiragino Kaku Gothic Pro";
}

#answer-input {
  width: 100%;
  padding: 1rem 2rem;
  margin-bottom: 1rem;
  /* box-sizing: border-box; */

  background-color: inherit;
  color: white;
  text-align: center;

  font-size: 2rem;

  border: none;
  outline: 0 none;
  outline-color: currentColor;
  outline-style: none;
  outline-width: 0px;
}

.correct {
  background-color: #65a25d !important;
}

.wrong {
  background-color: #b91a1a !important;
}

@keyframes shake {
  0% {
    margin-left: 0rem;
  }
  25% {
    margin-left: 0.5rem;
  }
  75% {
    margin-left: -0.5rem;
  }
  100% {
    margin-left: 0rem;
  }
}

.shake-animation {
  animation: shake 0.2s ease-in-out 0s 2;
}

.answer-result {
  padding: 1rem 2rem;
  font-size: 1.5rem;
}

.wrongAnswerRecap {
  font-family: "Hiragino Kaku Gothic Pro";
}

button.btn-primary {
  background-color: #282c34;
  border-color: #282c34;
  border-radius: 0;
}

button.btn-primary.selectedLevel {
  border-color: #0d6efd;
  width: 100%;
}

#popover-basic {
  max-width: 20%;
}
#popover-basic .popover-body {
  padding: 0.1rem;
  background-color: rgb(41, 40, 40);
}
#popover-basic .popover-body .row {
  padding: 0;
  margin: 0;
}

#popover-basic .popover-body .row .col {
  padding: 0;
  margin: 0;
}

#popover-basic .popover-body .row .col button {
  width: 100%;
  border-color: #4a6082;
}
